.footer1-logo {
  position: relative;
  z-index: 1;
  display: inline-block;

  img {
    background-color: $white-color;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -30px;
    background-color: $theme-color2;
    clip-path: polygon(0 0, 100% 0, calc(100% - 30px) 100%, 0% 100%);
    z-index: -1;
  }
}


.footer-layout2 {
  position: relative;
  z-index: 1;

  .footer-shape1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 880px;
    max-height: 410px;
    background-color: $theme-color2;
    z-index: -1;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }

  .widget-area {
    --body-color: #fff;
    --title-color: #fff;
    padding-top: 115px;
    padding-bottom: 100px;
  }

  .widget-column {
    border-right: 5px solid #2e5dc1;
    padding-left: 60px;
    padding-right: 60px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  .footer-logo {
    margin: 0 0 30px 0;
  }

  .footer-text {
    line-height: 28px;
    margin: 0 0 40px 0;
    max-width: 320px;
  }

  .widget_title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 41px;
    padding-top: 18px;
  }

  .footer-widget {
    margin-bottom: 0;

    &.widget_nav_menu {
      margin-bottom: 0;

      .widget_title {
        margin-bottom: 36px;
      }

      a {
        margin-bottom: 22px;

        &:before {
          content: "\f105";
          top: 1px;
          position: relative;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  .text1 {
    color: #dadada;
    font-size: 14px;
    margin: 0 0 3px 0;
    padding: 2px 0 0 0;
  }

  .text2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 45px 0;
  }

  .text3 {
    font-weight: 700;
    margin: 0;
  }

  .text4 {
    text-decoration: underline;
  }

  .copyright-wrap {
    padding: 48.5px 0;
  }


  .footer-bottom-menu {
    li {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: $white-color;

      &:hover {
        color: $title-color;
      }
    }
  }
}

.footer-layout3 {
  margin-top: 15px;

  .widget-area {
    --title-color: #fff;
    --body-color: #c1c1c1;
  }

  .widget_title {
    margin-bottom: 35px;
  }

  .widget-column {
    padding: 100px 40px 50px 40px;
    border-left: 1px solid #494949;

    &:last-child {
      background-color: $theme-color;
      border-left: none;
      position: relative;
      margin-top: -15px;
      height: calc(100% + 15px);

      &:before {
        content: '';
        position: absolute;
        left: -26px;
        top: 0;
        border-bottom: 8px solid #b60000;
        border-top: 8px solid transparent;
        border-right: 13px solid #b60000;
        border-left: 13px solid transparent;
        z-index: 1;
        display: inline-block;
      }
    }
  }

  .copyright-wrap {
    background-color: #000;
    padding: 33px 0;

    a {
      &:hover {
        color: $white-color;
      }
    }
  }
}

@include lg {
  .footer-layout2 {
    .widget-column {
      padding-left: 40px;
      padding-right: 40px;
    }

    .copyright-wrap {
      padding: 30px 0;
    }

    .footer-shape1 {
      max-width: 430px;
      max-height: 290px;
    }

    .widget-area {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  .footer-layout3 {
    .widget-column {
      padding: 60px 20px 10px 0;
      border-left: none;

      &:last-child {
        padding-left: 20px;
      }
    }
  }
}


@include md {
  .footer-layout2 {
    .widget-column {
      padding-left: 0;
      padding-right: 0;
      border: none;
    }

    .footer-text {
      max-width: 70%;
      margin-bottom: 20px;
    }

    .footer-logo {
      margin: 0 0 20px 0;
    }

    .footer-widget,
    .footer-widget.widget_nav_menu {
      .widget_title {
        margin-bottom: 22px;
      }
    }    
  }

  .footer-layout3 {
    .widget-column {
      padding: 0 0 0 0;

      &:last-child {
        padding: 50px 20px 0 20px;

        &:before {
          display: none;
        }
      }
    }

    .widget_title {
      margin-bottom: 20px;
    }

    .widget-area {
      padding-top: 60px;
    }
  }
}

@include sm {
  .footer-layout2 {
    .text2 {
      margin: 0 0 15px 0;
    }
  }
  
  .footer1-logo {
    &:before {
      display: none;
    }
  }
}
