@import "_libs";
$color-brown: #8f473d;
$color-blue-dark: #0f2124;
$color-news18-white: #f7ebeb;
$color-dark-green: #0f2124;
$color-indian-red: #b25447;
$color-hover-red: #a0473a;
$color-dark-slate-grey: #1a393f;
$color-black: #1f1e1d;

$color-linen-2: #f0e6da;
$color-dark-green: #0f2124;
$color-indian-red: #b25447;
$color-hover-red: #a0473a;
$color-dark-slate-grey: #1a393f;
$color-medium-violet-red: #895967;
$color-linen: #f5efe6;

$color-news18-red: #cd1e25;
$colors: (
	"primary": $color-dark-slate-grey,
);
@media screen and (min-width: 512px) {
	html {
		font-size: 16px;
	}
}
html {
	font-size: 16;
}
body {
	background-color: $color-linen;
	color: $color-dark-green;
}
* {
	font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	// font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-family: "DM Serif Text", 'Times New Roman', Times, serif;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	z-index: 9999;
	nav.main-nav {
		position: sticky;
	}
}
section {
	padding: calc(max(5%, 2rem)) 0;
}

/* BOOTSTRAP RESET */
.btn {
	@each $class, $color in $colors {
		&.btn-#{$class} {
			background-color: $color;
			border-color: $color;
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	filter: hue-rotate(213deg) contrast(0.7) saturate(0.7);
}

section {
	&.main_banner {
		padding: 0;
		height: calc(100vh - 4rem);
		width: 100%;
		overflow: hidden;
		background: url("../media/images/background.webp") no-repeat;
		background-size: cover;
		background-position: 40%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.text-content {
		.title {
			&:has(.text-18) {
				margin-bottom: 1rem;
				.text-18 {
					font-family: inherit;
					color: $color-brown;
				}
			}
		}
	}
	.media-content {
		.wrapper {
			width: 100%;
		}
	}
}

.section-heading {
	margin-bottom: 2rem;
	&.brand-touch {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background-color: $color-brown;
			height: 2px;
			width: 100%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: -1;
		}
		h2 {
			background-color: $color-linen;
			padding: 0 1rem;
			margin: 0;
			width: fit-content;
			margin: 0 auto;
			font-size: calc(max(5vw, 3rem));
			&::before,&::after{
				content: '/';
			}
		}
	}
}

.podcastsSwiper {
	.swiper-slide {
		.card{
			background-color: $color-blue-dark;
			.card-body {
				color: $color-linen-2;
			}
		}
		.play-btn {
			position: absolute;
			width: 3rem;
			aspect-ratio: 1;
			background-color: $color-news18-red;
			border-radius: 50%;
			display: grid;
			place-items: center;
			font-size: 1.5rem;
			color: $color-linen-2;
		}
		&:nth-child(2n) {
			.card {
				background-color: $color-brown;
				.card-body {
					color: $color-linen-2;
				}
			}
		}
	}
}

.card {
	border-color: transparent;
	border-radius: 0;
	.video {
		width: 100%;
		aspect-ratio: 1.8;
		overflow: hidden;
		iframe,
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&.podcast-card {
		background-color: transparent;
		.video {
			width: 100%;
			aspect-ratio: 0.7;
			overflow: hidden;
			iframe,
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.card-body {
			margin-top: -5rem;
		}
		.speaker {
			font-size: 0.95rem;
			border-left: 1px solid $color-linen-2;
			padding-left: 1rem;
			color: $color-linen-2;
			* {
				color: $color-linen-2;
			}
		}
		.desc {
			margin-top: 1.5rem;
		}
	}
}

@media screen and (max-width: 991px) {
	.navbar-bottom-fixed {
		position: fixed;
		bottom: 0;
		width: 100%;
		.navbar-nav {
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			.nav-item {
			}
		}
	}
}
