@import "_libs";

$color-green: #46c446;
$color-red: #e45b57;
$color-violet: #e76db8;
$color-yellow: #e4c755;
$color-blue: #6bcbdb;
$colors: (
	"primary": $color-green,
	"danger" : $color-red,
	"success" : $color-green,
	"warning" : $color-yellow,
	"violet" : $color-violet,
	"blue" : $color-blue
);
html {
	font-size: 15px;
}
* {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.card{
	border: none;
}

@each $class, $color in $colors {
	.bg-#{$class} {
		background-color: $color !important;
	}

	.card-#{$class}-bordered-subtle-bg {
		border: 2px solid lighten($color, $amount: 25);
		background-color: rgba($color, $alpha: 0.1);
	}

	@for $i from 10 to 100{
		@if $i%10 == 0{
			.bg-#{$class}-subtle-#{$i}{
				background-color: rgba($color, $alpha: $i/100);
			}
		}
	}  
}
.btn {
	@each $class, $color in $colors {
		&.btn-#{$class} {
			background-color: $color !important;
			border-color: $color;
		}
	}
}

header {
	z-index: 9999;
	nav.main-nav {
		position: sticky;
	}
}
section {
	padding: calc(max(5%, 2rem)) 0;
}
@media screen and (max-width: 991px) {
	.navbar-bottom-fixed {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 9999;
		.navbar-nav {
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			.nav-item {
			}
		}
	}
}
