.breadcumb-wrapper {
  padding-top: 5rem;
  text-transform: capitalize;
}
.breadcumb-wrapper .breadcumb-title {
  text-transform: capitalize;
}
.breadcumb-wrapper .breadcumb-menu-wrap {
  margin-top: 2rem;
  margin-bottom: -40px;
}
.breadcumb-wrapper .breadcumb-menu {
  padding: 28px 100px;
}

button.btn-testimonial {
  padding: 0.75rem 1.3rem;
}