<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<?php $this->load->view('components/_common_head'); ?>
	<title>Medixi - Medical and Health Care HTML Template - Home One</title>
</head>

<body class="">

	<!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



	<!--********************************
   		Code Start From Here 
	******************************** -->




	<!--==============================
     Preloader
  ==============================-->
	<div class="preloader  ">
		<button class="vs-btn preloaderCls">Cancel Preloader </button>
		<div class="preloader-inner">
			<svg width="88px" height="108px" viewBox="0 0 54 64">
				<defs></defs>
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path class="beat-loader" d="M0.5,38.5 L16,38.5 L19,25.5 L24.5,57.5 L31.5,7.5 L37.5,46.5 L43,38.5 L53.5,38.5" id="Path-2" stroke-width="2"></path>
				</g>
			</svg>
		</div>
	</div>
	<!--==============================
    Mobile Menu
  ============================== -->
	<div class="vs-menu-wrapper">
		<div class="vs-menu-area text-center">
			<button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
			<div class="mobile-logo">
				<a href="index.html"><img src="<?= base_url() ?>assets/img/logo-mobile.svg" alt="Medixi"></a>
			</div>
			<form action="#" class="mobile-menu-form">
				<input type="text" class="form-control" placeholder="Search...">
				<button type="submit"><i class="fas fa-search"></i></button>
			</form>
			<div class="vs-mobile-menu">
				<ul>
					<li class="menu-item-has-children">
						<a href="index.html">Home</a>
						<ul class="sub-menu">
							<li><a href="index.html">Home One</a></li>
							<li><a href="index-2.html">Home Two</a></li>
							<li><a href="index-3.html">Home Three</a></li>
							<li><a href="index-4.html">Home Four <span class="new-label">New</span></a></li>
							<li><a href="index-5.html">Home Five <span class="new-label">New</span></a></li>
						</ul>
					</li>
					<li>
						<a href="about.html">About Us</a>
					</li>
					<li class="menu-item-has-children">
						<a href="service.html">Services</a>
						<ul class="sub-menu">
							<li><a href="service.html">Services</a></li>
							<li><a href="service-details.html">Services Details</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="blog.html">Blog</a>
						<ul class="sub-menu">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-details.html">Blog Details</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="shop.html">Our Shop <span class="new-label">New</span></a></li>
							<li><a href="shop-details.html">Shop Details <span class="new-label">New</span></a></li>
							<li><a href="cart.html">Shopping Cart <span class="new-label">New</span></a></li>
							<li><a href="checkout.html">Checkout <span class="new-label">New</span></a></li>
							<li><a href="team.html">Team</a></li>
							<li><a href="team-details.html">Team Details</a></li>
							<li><a href="project.html">Projects</a></li>
							<li><a href="appointment.html">Appointment</a></li>
							<li><a href="error.html">Error Page</a></li>
						</ul>
					</li>
					<li>
						<a href="contact.html">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--==============================
    Sidemenu
============================== -->
	<div class="sidemenu-wrapper d-none d-lg-block  ">
		<div class="sidemenu-content">
			<button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
			<div class="widget footer-widget  ">
				<div class="vs-widget-about">
					<div class="footer-logo">
						<img src="<?= base_url() ?>assets/img/logo.svg" alt="logo">
					</div>
					<p class="footer-text1">Lorem ipsum dolor sit amet, consectet eiusmod tempor incididunt ut labore e rem ipsum dolor sit amet. sum dolor sit amet, consectet eiusmod.</p>
					<div class="footer-social3">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-google"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
			<div class="widget footer-widget   ">
				<h3 class="widget_title">Visiting Hours</h3>
				<div class="footer-table">
					<table>
						<tr>
							<td>Mon - Fri:</td>
							<td>8:00 am - 8:00 pm</td>
						</tr>
						<tr>
							<td>Saturday:</td>
							<td>9:00 am - 6:00 pm</td>
						</tr>
						<tr>
							<td>Sunday:</td>
							<td>9:00 am - 6:00 pm</td>
						</tr>
					</table>
				</div>
				<div class="address-line">
					<i class="far fa-map-marker-alt text-theme fs-md"></i>
					<a href="#" class="text-reset fs-md">374 William S Canning Blvd, Fall River MA 2721</a>
				</div>
			</div>
			<div class="widget footer-widget  ">
				<h4 class="widget_title">Gallery Posts</h4>
				<div class="footer-gallery">
					<div class="gal-item">
						<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-1.jpg" alt="Gallery Image" class="w-100"></a>
					</div>
					<div class="gal-item">
						<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-2.jpg" alt="Gallery Image" class="w-100"></a>
					</div>
					<div class="gal-item">
						<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-3.jpg" alt="Gallery Image" class="w-100"></a>
					</div>
					<div class="gal-item">
						<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-4.jpg" alt="Gallery Image" class="w-100"></a>
					</div>
					<div class="gal-item">
						<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-5.jpg" alt="Gallery Image" class="w-100"></a>
					</div>
					<div class="gal-item">
						<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-6.jpg" alt="Gallery Image" class="w-100"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==============================
    Popup Search Box
    ============================== -->
	<div class="popup-search-box d-none d-lg-block  ">
		<button class="searchClose border-theme text-theme"><i class="fal fa-times"></i></button>
		<form action="#">
			<input type="text" class="border-theme" placeholder="What are you looking for">
			<button type="submit"><i class="fal fa-search"></i></button>
		</form>
	</div>
	<!--==============================
        Header Area
    ==============================-->
	<header class="header-wrapper header-layout1">
		<!-- Header Top -->
		<div class="header-top bg-title py-2 d-none d-md-block">
			<div class="container container-style1 py-1">
				<div class="row justify-content-center justify-content-xl-between">
					<div class="col-auto">
						<ul class="header-top-info list-unstyled m-0">
							<li><i class="far fa-envelope"></i><a href="mailto:support@hospital.com" class="text-reset">support@hospital.com</a></li>
							<li><i class="far fa-map-marker-alt"></i>36D Street Brooklyn, New York</li>
							<li><i class="far fa-clock"></i>Mon - Fri: 8:00 am - 7:00 pm</li>
						</ul>
					</div>
					<div class="col-auto d-none d-xl-block">
						<ul class="head-top-links text-end">
							<li>
								<ul class="header-social">
									<li>
										<a href="#"><i class="fab fa-facebook-f"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fab fa-linkedin-in"></i></a>
									</li>
								</ul>
							</li>
							<li>
								<!-- Dropdown -->
								<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fal fa-globe"></i> English
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
									<li><a href="#">German</a></li>
									<li><a href="#">French</a></li>
									<li><a href="#">Italian</a></li>
									<li><a href="#">Latvian</a></li>
									<li><a href="#">Spanish</a></li>
									<li><a href="#">Greek</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Sticky Active -->
		<div class="sticky-wrap">
			<div class="sticky-active">
				<!-- Header Main -->
				<div class="header-main">
					<div class="container container-style1 position-relative">
						<div class="row align-items-center justify-content-between">
							<div class="col-auto">
								<div class="header1-logo py-2">
									<a href="index.html"><img src="<?= base_url() ?>assets/img/logo.svg" alt="Logo"></a>
								</div>
							</div>
							<div class="col text-end text-lg-center">
								<nav class="main-menu menu-style1 d-none d-lg-block">
									<ul>
										<li class="menu-item-has-children mega-menu-wrap">
											<a href="index.html"><span class="has-new-label">Home <span class="new-label">New</span></span></a>
											<ul class="menu-pages">
												<li>
													<a href="index.html">
														<img src="<?= base_url() ?>assets/img/pages/index.jpg" alt="image">
														Home One
													</a>
												</li>
												<li>
													<a href="index-2.html">
														<img src="<?= base_url() ?>assets/img/pages/index-2.jpg" alt="image">
														Home Two
													</a>
												</li>
												<li>
													<a href="index-3.html">
														<img src="<?= base_url() ?>assets/img/pages/index-3.jpg" alt="image">
														Home Three
													</a>
												</li>
												<li>
													<a href="index-4.html">
														<img src="<?= base_url() ?>assets/img/pages/index-4.jpg" alt="image">
														Home Four <span class="new-label">New</span>
													</a>
												</li>
												<li>
													<a href="index-5.html">
														<img src="<?= base_url() ?>assets/img/pages/index-5.jpg" alt="image">
														Home Five <span class="new-label">New</span>
													</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li class="menu-item-has-children">
											<a href="service.html">Services</a>
											<ul class="sub-menu">
												<li><a href="service.html">Services</a></li>
												<li><a href="service-details.html">Services Details</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="blog.html">Blog</a>
											<ul class="sub-menu">
												<li><a href="blog.html">Blog</a></li>
												<li><a href="blog-details.html">Blog Details</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children mega-menu-wrap">
											<a href="#"><span class="has-new-label">Pages <span class="new-label">New</span></span></a>
											<ul class="mega-menu">
												<li><a href="shop.html">Pagelist 1</a>
													<ul>
														<li><a href="index.html">Home One</a></li>
														<li><a href="index-2.html">Home Two</a></li>
														<li><a href="index-3.html">Home Three</a></li>
														<li><a href="index-4.html">Home Four <span class="new-label">New</span></a></li>
														<li><a href="index-5.html">Home Five <span class="new-label">New</span></a></li>
													</ul>
												</li>
												<li><a href="#">Pagelist 2</a>
													<ul>
														<li><a href="about.html">About Us</a></li>
														<li><a href="service.html">Services</a></li>
														<li><a href="service-details.html">Services Details</a></li>
														<li><a href="team.html">Team</a></li>
														<li><a href="team-details.html">Team Details</a></li>
													</ul>
												</li>
												<li><a href="#">Pagelist 3</a>
													<ul>
														<li><a href="project.html">Projects</a></li>
														<li><a href="shop.html">Our Shop <span class="new-label">New</span></a></li>
														<li><a href="shop-details.html">Shop Details <span class="new-label">New</span></a></li>
														<li><a href="cart.html">Shopping Cart <span class="new-label">New</span></a></li>
														<li><a href="checkout.html">Checkout <span class="new-label">New</span></a></li>
													</ul>
												</li>
												<li><a href="#">Pagelist 4</a>
													<ul>
														<li><a href="blog.html">Blog</a></li>
														<li><a href="blog-details.html">Blog Details</a></li>
														<li><a href="appointment.html">Appointment</a></li>
														<li><a href="contact.html">Contact Us</a></li>
														<li><a href="error.html">Error Page</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="contact.html">Contact</a>
										</li>
									</ul>
								</nav>
								<button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fas fa-bars"></i></button>
							</div>
							<div class="col-auto gap-3 d-none d-lg-flex">
								<a href="#" class="icon-btn style3 searchBoxTggler"><i class="far fa-search"></i></a>
								<a href="#" class="icon-btn style3 sideMenuToggler"><i class="far fa-bars"></i></a>
							</div>
							<div class="col-auto d-none-xxxl">
								<div class="header-call phone-box d-flex align-items-center style2">
									<a href="tel:66925682596" class="box-icon"><i class="fas fa-phone-alt"></i></a>
									<div class="media-body">
										<span class="fs-xs text-title">Call Anytime</span>
										<p class="h4 fw-bold lh-1 mb-0"><a href="tel:66925682596">669 2568 2596</a></p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--==============================
      Hero Area
    ==============================-->
	<section class="vs-hero-wrapper position-relative  ">
		<div class="vs-hero-carousel" data-navprevnext="true" data-height="800" data-container="1900" data-slidertype="responsive">
			<div class="ls-slide" data-ls="duration: 13000; transition2d: 5;">
				<img src="<?= base_url() ?>assets/img/hero/h-bg-3-1.jpg" alt="Hero Image" class="ls-bg">
				<h1 class="text-title ls-l ls-responsive" data-ls-mobile="left: 100px; top: 120px; font-size: 120px;" data-ls-tablet="left: 100px; top: 80px; font-size: 92px;" data-ls-laptop="left: 100px; top: 120px; font-size: 82px;" style="left: 335px; top: 208px; font-size: 72px; font-weight: 700;" data-ls="delayin: 600; easingin: easeInOutSine; texttransitionin: true; textstartatin: transitioninstart; textdurationin: 2000; texttypein: words_asc; textshiftin: 200; textoffsetyin: -100; offsetyout: -100; durationout: 2000; ">We always put the</h1>
				<h1 class="text-white ls-l ls-responsive" data-ls-mobile="left: 100px;  top: 285px; font-size: 120px;" data-ls-tablet="left: 100px; top: 210px; font-size: 92px;" data-ls-laptop="left: 100px; top: 230px; font-size: 82px;" style="left: 335px; top: 290px; font-size: 72px; font-weight: 700;" data-ls="delayin: 0; easingin: easeInOutSine; texttransitionin: true; textstartatin: transitioninstart; textdurationin: 2000; texttypein: words_asc; textshiftin: 200; textoffsetyin: -100; offsetyout: -100; durationout: 2000; ">patients first</h1>
				<p class="ls-l text-white ls-responsive ls-hide-sm" data-ls-mobile="left: 100px; " data-ls-tablet=" left: 100px; top: 360px; font-size: 34px; width: 1000px; line-height: 52px;" data-ls-laptop="left: 100px; top: 380px; font-size: 26px; width: 800px; line-height: 48px;" style="left: 335px; top: 400px; width: 605px; font-size: 16px; font-weight: 400; white-space: normal; letter-spacing: 0.02em; line-height: 28px;" data-ls="delayin: 800; texttransitionin: true; textstartatin: transitioninstart; texttypein: lines_asc; textshiftin: 100; textoffsetyin: 100; textdurationin: 2000; offsetyout: 100; durationout: 2000; ">Conveniently drive go forward architectures with future-proof growth strategies. Energistically supply low-risk high-yield process improvements for mission-critical testing procedures</p>
				<div class="ls-btn ls-l ls-responsive" data-ls-mobile="left: 100px; " data-ls-tablet="left: 100px; top: 580px;" data-ls-laptop="left: 100px; top: 580px;" style="left: 335px; top: 518px;" data-ls="offsetyin: 200; durationin: 2000; delayin: 1400; offsetyout: 300; durationout: 2000; offsetyout: 100; durationout: 2000; ">
					<a href="service.html" class="vs-btn style3 hover-white">View All Services<i class="fas fa-bolt"></i></a>
				</div>
			</div>
			<div class="ls-slide" data-ls="duration: 13000; transition2d: 5;">
				<img src="<?= base_url() ?>assets/img/hero/h-bg-3-2.jpg" alt="Hero Image" class="ls-bg">
				<h1 class="text-title ls-l ls-responsive" data-ls-mobile="left: 100px; top: 120px; font-size: 120px;" data-ls-tablet="left: 100px; top: 80px; font-size: 92px;" data-ls-laptop="left: 100px; top: 120px; font-size: 82px;" style="left: 335px; top: 208px; font-size: 72px; font-weight: 700;" data-ls="delayin: 600; easingin: easeInOutSine; texttransitionin: true; textstartatin: transitioninstart; textdurationin: 2000; texttypein: words_asc; textshiftin: 200; textoffsetyin: -100; offsetyout: -100; durationout: 2000; ">Best Treatment for</h1>
				<h1 class="text-white ls-l ls-responsive" data-ls-mobile="left: 100px;  top: 285px; font-size: 120px;" data-ls-tablet="left: 100px; top: 210px; font-size: 92px;" data-ls-laptop="left: 100px; top: 230px; font-size: 82px;" style="left: 335px; top: 290px; font-size: 72px; font-weight: 700;" data-ls="delayin: 0; easingin: easeInOutSine; texttransitionin: true; textstartatin: transitioninstart; textdurationin: 2000; texttypein: words_asc; textshiftin: 200; textoffsetyin: -100; offsetyout: -100; durationout: 2000; ">healthy life</h1>
				<p class="ls-l text-white ls-responsive ls-hide-sm" data-ls-mobile="left: 100px; " data-ls-tablet=" left: 100px; top: 360px; font-size: 34px; width: 1000px; line-height: 52px;" data-ls-laptop="left: 100px; top: 380px; font-size: 26px; width: 800px; line-height: 48px;" style="left: 335px; top: 400px; width: 605px; font-size: 16px; font-weight: 400; white-space: normal; letter-spacing: 0.02em; line-height: 28px;" data-ls="delayin: 800; texttransitionin: true; textstartatin: transitioninstart; texttypein: lines_asc; textshiftin: 100; textoffsetyin: 100; textdurationin: 2000; offsetyout: 100; durationout: 2000; ">Conveniently drive go forward architectures with future-proof growth strategies. Energistically supply low-risk high-yield process improvements for mission-critical testing procedures</p>
				<div class="ls-btn ls-l ls-responsive" data-ls-mobile="left: 100px; " data-ls-tablet="left: 100px; top: 580px;" data-ls-laptop="left: 100px; top: 580px;" style="left: 335px; top: 518px;" data-ls="offsetyin: 200; durationin: 2000; delayin: 1400; offsetyout: 300; durationout: 2000; offsetyout: 100; durationout: 2000; ">
					<a href="service.html" class="vs-btn style3 hover-white">View All Services<i class="fas fa-bolt"></i></a>
				</div>
			</div>
			<div class="ls-slide" data-ls="duration: 13000; transition2d: 5;">
				<img src="<?= base_url() ?>assets/img/hero/h-bg-3-3.jpg" alt="Hero Image" class="ls-bg">
				<h1 class="text-title ls-l ls-responsive" data-ls-mobile="left: 100px; top: 120px; font-size: 120px;" data-ls-tablet="left: 100px; top: 80px; font-size: 92px;" data-ls-laptop="left: 100px; top: 120px; font-size: 82px;" style="left: 335px; top: 208px; font-size: 72px; font-weight: 700;" data-ls="delayin: 600; easingin: easeInOutSine; texttransitionin: true; textstartatin: transitioninstart; textdurationin: 2000; texttypein: words_asc; textshiftin: 200; textoffsetyin: -100; offsetyout: -100; durationout: 2000; ">Best Medics, Doctors</h1>
				<h1 class="text-white ls-l ls-responsive" data-ls-mobile="left: 100px;  top: 285px; font-size: 120px;" data-ls-tablet="left: 100px; top: 210px; font-size: 92px;" data-ls-laptop="left: 100px; top: 230px; font-size: 82px;" style="left: 335px; top: 290px; font-size: 72px; font-weight: 700;" data-ls="delayin: 0; easingin: easeInOutSine; texttransitionin: true; textstartatin: transitioninstart; textdurationin: 2000; texttypein: words_asc; textshiftin: 200; textoffsetyin: -100; offsetyout: -100; durationout: 2000; ">and physicians</h1>
				<p class="ls-l text-white ls-responsive ls-hide-sm" data-ls-mobile="left: 100px; " data-ls-tablet=" left: 100px; top: 360px; font-size: 34px; width: 1000px; line-height: 52px;" data-ls-laptop="left: 100px; top: 380px; font-size: 26px; width: 800px; line-height: 48px;" style="left: 335px; top: 400px; width: 605px; font-size: 16px; font-weight: 400; white-space: normal; letter-spacing: 0.02em; line-height: 28px;" data-ls="delayin: 800; texttransitionin: true; textstartatin: transitioninstart; texttypein: lines_asc; textshiftin: 100; textoffsetyin: 100; textdurationin: 2000; offsetyout: 100; durationout: 2000; ">Conveniently drive go forward architectures with future-proof growth strategies. Energistically supply low-risk high-yield process improvements for mission-critical testing procedures</p>
				<div class="ls-btn ls-l ls-responsive" data-ls-mobile="left: 100px; " data-ls-tablet="left: 100px; top: 580px;" data-ls-laptop="left: 100px; top: 580px;" style="left: 335px; top: 518px;" data-ls="offsetyin: 200; durationin: 2000; delayin: 1400; offsetyout: 300; durationout: 2000; offsetyout: 100; durationout: 2000; ">
					<a href="service.html" class="vs-btn style3 hover-white">View All Services<i class="fas fa-bolt"></i></a>
				</div>
			</div>
		</div>
	</section>
	<!--==============================
    Service Area
    ==============================-->
	<section class="vs-service-wrapper space-top space-md-bottom">
		<div class="container">
			<div class="row  text-center justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
					<div class="section-title">
						<span class="h3 text-theme sec-subtitle">Latest Jobs</span>
						<h2 class="h1 ">Our Services</h2>
						<p>Proactively revolutionize granular customer service after pandemic internal or "organic" sources proactive human capital rather.</p>
					</div>
				</div>
			</div>
			<div class="row vs-carousel wow fadeIn" data-wow-delay="0.3s" data-slide-show="3">
				<div class="col-xl-4 mb-25">
					<div class="service-box ">
						<div class="sr-img">
							<img src="<?= base_url() ?>assets/img/service/sr-2-1.jpg" alt="Service Image" class="w-100">
						</div>
						<div class="sr-icon">
							<i class="flaticon-computer-mouse"></i>
						</div>
						<div class="sr-content">
							<h3 class="h4"><a class="text-reset" href="service.html">Medical Advices & Checkup</a></h3>
							<p class="fs-xs">Continually evisculate goal-oriented portals rather than prospective channels. excellent customize life</p>
						</div>
						<a href="service.html" class="icon-btn style4"><i class="far fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
				<div class="col-xl-4 mb-25">
					<div class="service-box ">
						<div class="sr-img">
							<img src="<?= base_url() ?>assets/img/service/sr-2-2.jpg" alt="Service Image" class="w-100">
						</div>
						<div class="sr-icon">
							<i class="flaticon-blood-pressure"></i>
						</div>
						<div class="sr-content">
							<h3 class="h4"><a class="text-reset" href="service.html">Cardiovascular for Women's</a></h3>
							<p class="fs-xs">Continually evisculate goal-oriented portals rather than prospective channels. excellent customize life</p>
						</div>
						<a href="service.html" class="icon-btn style4"><i class="far fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
				<div class="col-xl-4 mb-25">
					<div class="service-box ">
						<div class="sr-img">
							<img src="<?= base_url() ?>assets/img/service/sr-2-3.jpg" alt="Service Image" class="w-100">
						</div>
						<div class="sr-icon">
							<i class="flaticon-stethoscope-1"></i>
						</div>
						<div class="sr-content">
							<h3 class="h4"><a class="text-reset" href="service.html">Heart Checkup or Cardiovascular</a></h3>
							<p class="fs-xs">Continually evisculate goal-oriented portals rather than prospective channels. excellent customize life</p>
						</div>
						<a href="service.html" class="icon-btn style4"><i class="far fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
				<div class="col-xl-4 mb-25">
					<div class="service-box ">
						<div class="sr-img">
							<img src="<?= base_url() ?>assets/img/service/sr-2-4.jpg" alt="Service Image" class="w-100">
						</div>
						<div class="sr-icon">
							<i class="flaticon-quality-of-life"></i>
						</div>
						<div class="sr-content">
							<h3 class="h4"><a class="text-reset" href="service.html">Laboratory & Pathology Drag</a></h3>
							<p class="fs-xs">Continually evisculate goal-oriented portals rather than prospective channels. excellent customize life</p>
						</div>
						<a href="service.html" class="icon-btn style4"><i class="far fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--==============================
    About Area
    ==============================-->
	<section class="vs-about-wrapper space">
		<div class="parallax" data-parallax-image="<?= base_url() ?>assets/img/bg/bg-7.jpg"></div>
		<div class="container">
			<div class="row flex-row-reverse">
				<div class="col-lg-6 mb-40 mb-lg-0">
					<div class="vs-surface wow" data-wow-delay="0.3s">
						<div class="about-img3 position-relative">
							<img src="<?= base_url() ?>assets/img/about/about-4-1.jpg" alt="About Image" class="w-100">
							<a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="popup-video play-btn style2 position-center"><i class="fas fa-play"></i></a>
							<div class="exp-box-bottom bg-white">
								<div class="exp-year text-theme">
									<span class="counter">187</span>+
								</div>
								<p class="exp-text text-title mb-0">Years of Experience</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 align-self-center">
					<div class="about-content mb-2 ">
						<span class="sec-subtitle text-theme h3 mb-2 mb-sm-0">Medical & General Care!</span>
						<div class="row">
							<div class="col-xl-10">
								<h2 class="h1 mb-3">Surprise your body with <span class="text-theme">extra care.</span></h2>
							</div>
							<div class="col-xl-10">
								<p class="mb-4">Rapidiously evisculate user-centric functionalities for highly efficient interfaces. Competently leverage other's scalable technology before synergistic manufactured products.</p>
							</div>
						</div>
						<div class="media-style1">
							<div class="media-icon"><i class="fas fa-phone"></i></div>
							<div class="media-body">
								<h3 class="media-title">CALL ANYTIME 24/7</h3>
								<p class="media-text"><a href="tel:+4412345996">+44-1234-5996</a></p>
							</div>
						</div>
						<a href="about.html" class="vs-btn">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--==============================
    Skill Area
    ==============================-->
	<section class="vs-skill-wrapper  ">
		<div class="container">
			<div class="skill-wrap1 bg-white">
				<div class="row justify-content-center justify-content-lg-between">
					<div class="col-md-6 col-lg-auto  mb-30">
						<div class="d-xl-flex text-center text-xl-start skill-box">
							<span class="ripple-icon hover-style2  align-self-start mb-20 mb-xl-0 mr-20"><i class="flaticon-discuss"></i></span>
							<div class="media-body">
								<h2 class="mt-n2 mb-0 text-theme">30+</h2>
								<p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Years Of Experience</p>
								<p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors. Authoritatively engage</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-auto  mb-30">
						<div class="d-xl-flex text-center text-xl-start skill-box">
							<span class="ripple-icon  hover-style2 align-self-start mb-20 mb-xl-0 mr-20"><i class="flaticon-medical-equipment"></i></span>
							<div class="media-body">
								<h2 class="mt-n2 mb-0 text-theme">100+</h2>
								<p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Experienced Doctor's</p>
								<p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors. Authoritatively engage</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-auto  mb-30">
						<div class="d-xl-flex text-center text-xl-start skill-box">
							<span class="ripple-icon  hover-style2 align-self-start mb-20 mb-xl-0 mr-20"><i class="flaticon-healthcare"></i></span>
							<div class="media-body">
								<h2 class="mt-n2 mb-0 text-theme">200+</h2>
								<p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Happy Patients</p>
								<p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors. Authoritatively engage</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--==============================
    Appointment Form Area 
    ==============================-->
	<section class="appointment-wrapper space-top space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 mb-30">
					<div class="about-content">
						<span class="sec-subtitle text-theme h3 mb-2 mb-sm-0">Medical &amp; General Care!</span>
						<h2 class="h1 mb-3">We’re Here For You</h2>
						<div class="row">
							<div class="col-xl-10 mb-md-2 pb-md-1">
								<p class="mb-md-4">Proactively revolutionize granular customer service after pandemic internal or "organic" sources. Distinctively impact proactive human capital rather than client-centered benefits. </p>
							</div>
							<div class="col-md-6 col-lg-5 col-xl-4">
								<ul class="vs-list list-unstyled text-title">
									<li>99% success rate </li>
									<li>100% Confidential</li>
									<li>Affordable Fees</li>
								</ul>
							</div>
							<div class="col-md-6 col-lg-5 col-xl-5">
								<ul class="vs-list list-unstyled text-title">
									<li>Free Consultation</li>
									<li>Expert surveillance agents</li>
									<li>Over 50 years experience</li>
								</ul>
							</div>
						</div>
						<ul class="offer-counter counter-list list-unstyled" data-offer-date="12/08/2024">
							<li>
								<div class="day count-number ">00</div>
								<span class="count-name">Days</span>
							</li>
							<li>
								<div class="hour count-number ">00</div>
								<span class="count-name">Hours</span>
							</li>
							<li>
								<div class="minute count-number ">00</div>
								<span class="count-name">Minutes</span>
							</li>
							<li>
								<div class="seconds count-number ">00</div>
								<span class="count-name">Seconds</span>
							</li>
						</ul>
						<div class="vs-code-box mt-20">
							Use Code: <span class="text-theme">Native</span>
						</div>
					</div>
				</div>
				<div class="col-xl-6 mb-30 pt-30 pt-xl-0">
					<form action="#" class="form-wrap1 bg-white wow fadeInUp" data-wow-delay="0.3s">
						<div class="form-title-box bg-title">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto">
									<h2 class="h4 mb-1 text-white">Book An Appointment</h2>
									<p class="mb-0 text-white-light">Please Call Us To Ensure</p>
								</div>
								<div class="col-auto d-none d-sm-block">
									<a href="tel:0088123456789" class="ripple-icon style2"><i class="fas fa-phone"></i></a>
								</div>
							</div>
						</div>
						<div class="form-box">
							<div class="row">
								<div class="col-xl-6 form-group">
									<select class="form-select style2">
										<option hidden disabled selected>Select Services</option>
										<option>Aerospace Medicine</option>
										<option>Bariatric Surgery</option>
										<option>Infectious Diseases</option>
										<option>Laboratory Medicine</option>
									</select>
								</div>
								<div class="col-xl-6 form-group">
									<select class="form-select style2">
										<option hidden disabled selected>Choose Doctor</option>
										<option>Aerospace Medicine</option>
										<option>Bariatric Surgery</option>
										<option>Infectious Diseases</option>
										<option>Laboratory Medicine</option>
									</select>
								</div>
								<div class="col-xl-6 form-group">
									<input type="text" class="form-control  style2" placeholder="Your Name">
									<i class="fal small fa-user"></i>
								</div>
								<div class="col-xl-6 form-group">
									<input type="email" class="form-control  style2" placeholder="Email Address">
									<i class="fal small fa-envelope"></i>
								</div>
								<div class="col-xl-6 form-group">
									<input type="number" class="form-control  style2" placeholder="Your Phone">
									<i class="fal small fa-phone"></i>
								</div>
								<div class="col-xl-6 form-group">
									<input type="text" class="dateTime-pick form-control  style2" placeholder="Select Date & Time">
									<i class="fal small fa-calendar-alt"></i>
								</div>
								<div class="col-xl-12 text-center">
									<button type="submit" class="vs-btn style2">Make Appointment<i class="far fa-calendar-alt"></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--==============================
     Project Area
  ==============================-->
	<section class="vs-project-wrapper position-relative space-top pb-50" data-bg-color="#f9f9f9">
		<div class="project-shape" data-bg-src="<?= base_url() ?>assets/img/bg/bg-shape-7.jpg"></div>
		<div class="container z-index-common">
			<div class="row  text-center justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-6 wow fadeIn" data-wow-delay="0.3s">
					<div class="section-title">
						<span class="h3 text-theme sec-subtitle">Case Study</span>
						<h2 class="h1 text-white">Latest Projects</h2>
						<p class="text-white">Proactively revolutionize granular customer service after pandemic internal or "organic" sources proactive human capital rather.</p>
					</div>
				</div>
			</div>
			<div class="row vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slide-show="3">
				<div class="col-xl-4">
					<div class="vs-project-box mb-30">
						<div class="project-img">
							<img src="<?= base_url() ?>assets/img/project/pro-1-1.jpg" alt="Project Image" class="w-100">
						</div>
						<div class="project-content">
							<span class="project-cat fs-xs">New Surgeon</span>
							<h4 class="project-name">Heart Surgery</h4>
							<a href="<?= base_url() ?>assets/img/project/pro-1-1.jpg" class="icon-btn style4 popup-image"><i class="fal fa-eye"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="vs-project-box mb-30">
						<div class="project-img">
							<img src="<?= base_url() ?>assets/img/project/pro-1-2.jpg" alt="Project Image" class="w-100">
						</div>
						<div class="project-content">
							<span class="project-cat fs-xs">Development</span>
							<h4 class="project-name">Neurosurgeon</h4>
							<a href="<?= base_url() ?>assets/img/project/pro-1-2.jpg" class="icon-btn style4 popup-image"><i class="fal fa-eye"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="vs-project-box mb-30">
						<div class="project-img">
							<img src="<?= base_url() ?>assets/img/project/pro-1-3.jpg" alt="Project Image" class="w-100">
						</div>
						<div class="project-content">
							<span class="project-cat fs-xs">Top Ranked</span>
							<h4 class="project-name">Ophthalmic </h4>
							<a href="<?= base_url() ?>assets/img/project/pro-1-3.jpg" class="icon-btn style4 popup-image"><i class="fal fa-eye"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="vs-project-box mb-30">
						<div class="project-img">
							<img src="<?= base_url() ?>assets/img/project/pro-1-4.jpg" alt="Project Image" class="w-100">
						</div>
						<div class="project-content">
							<span class="project-cat fs-xs">New Special</span>
							<h4 class="project-name">Oculoplastic</h4>
							<a href="<?= base_url() ?>assets/img/project/pro-1-4.jpg" class="icon-btn style4 popup-image"><i class="fal fa-eye"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div data-bg-src="<?= base_url() ?>assets/img/bg/bg-shape-8.jpg">
		<!-- Middle Box Area -->
		<section class="vs-middle-box-wrapper space-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-xl-6 mb-30 mb-lg-0">
						<div class="vs-middle-box d-md-flex text-center text-md-start bg-theme">
							<div class="media-icon mb-20 mb-md-0 mr-20">
								<img src="<?= base_url() ?>assets/img/icons/icon-1-1.png" alt="Icon">
							</div>
							<div class="media-body align-self-center">
								<span class="text-white fs-xs">Health Services</span>
								<h4 class="text-white mb-0">Known the truth for Peace of Mind</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xl-6">
						<div class="vs-middle-box d-md-flex text-center text-md-start bg-title">
							<div class="media-icon mb-20 mb-md-0 mr-20">
								<img src="<?= base_url() ?>assets/img/icon/icon-1-1-001.png" alt="Icon">
							</div>
							<div class="media-body align-self-center">
								<span class="text-theme fs-xs">Professinal Consult</span>
								<h4 class="text-title mb-0 text-white">Medicine Suggestion for diseases</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--==============================
    Testimonial Area
    ==============================-->
		<section class="testimonial-wrapper space-bottom">
			<div class="container">
				<div class="row  text-center justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="section-title">
							<span class="h3 text-theme sec-subtitle">Testimonial</span>
							<h2 class="h1 ">Patient Says</h2>
							<p>Proactively revolutionize granular customer service after pandemic internal or "organic" sources proactive human capital rather.</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-10">
						<div class="row vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slide-show="2">
							<div class="col-xl-6">
								<div class="testimonial-box mb-30 bg-white">
									<div class="content">
										<p class="fs-md">Uniquely strategize 2.0 portals after fully researched vortals. Quickly repurpose front-end metrics through</p>
									</div>
									<div class="author-img">
										<div class="avater-line"></div>
										<div class="avater">
											<img src="<?= base_url() ?>assets/img/author/author-2-1.jpg" alt="Author Image">
										</div>
									</div>
									<div class="author-info">
										<div class="info">
											<h3 class="fs-20 name">Moris Jonson</h3>
											<span class="fs-xs degi text-theme">CEO, Hosak Int. Ltd.</span>
										</div>
										<div class="testi-rating">
											<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="testimonial-box mb-30 bg-white">
									<div class="content">
										<p class="fs-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
									</div>
									<div class="author-img">
										<div class="avater-line"></div>
										<div class="avater">
											<img src="<?= base_url() ?>assets/img/author/author-2-2.jpg" alt="Author Image">
										</div>
									</div>
									<div class="author-info">
										<div class="info">
											<h3 class="fs-20 name">Peter Parker</h3>
											<span class="fs-xs degi text-theme">HR, Tech Master Ltd.</span>
										</div>
										<div class="testi-rating">
											<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="testimonial-box mb-30 bg-white">
									<div class="content">
										<p class="fs-md">From its medieval origins to the digital era, learn everything there is to know about ubiquitous ipsum passage </p>
									</div>
									<div class="author-img">
										<div class="avater-line"></div>
										<div class="avater">
											<img src="<?= base_url() ?>assets/img/author/author-2-3.jpg" alt="Author Image">
										</div>
									</div>
									<div class="author-info">
										<div class="info">
											<h3 class="fs-20 name">David Smith</h3>
											<span class="fs-xs degi text-theme">Founder, Ajaira LTD.</span>
										</div>
										<div class="testi-rating">
											<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--==============================
    Blog Area
    ==============================-->
	<section class="vs-blog-wrapper space-top space-md-bottom">
		<div class="container">
			<div class="row  text-center justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-6 wow fadeIn" data-wow-delay="0.3s">
					<div class="section-title">
						<span class="h3 text-theme sec-subtitle">Blog Posts</span>
						<h2 class="h1 ">Latest News</h2>
						<p>Proactively revolutionize granular customer service after pandemic internal or "organic" sources proactive human capital rather.</p>
					</div>
				</div>
			</div>
			<div class="row vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slide-show="3" data-lg-slide-show="2">
				<div class="col-xl-4">
					<div class="vs-blog blog-card">
						<div class="blog-img">
							<img src="<?= base_url() ?>assets/img/blog/b-1-1.jpg" alt="Blog Image" class="w-100">
							<div class="blog-date">
								<div class="day">22</div>
								Jan 2023
							</div>
						</div>
						<div class="blog-content">
							<div class="blog-meta">
								<a href="blog.html"><i class="far fa-folder"></i>Mental Health</a>
								<a href="blog.html"><i class="fal fa-user"></i>David Smith</a>
							</div>
							<h3 class="blog-title h5 font-body lh-base"><a href="blog.html">Services enable process is tobe after user-centric schemas now</a></h3>
							<a href="blog.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="vs-blog blog-card">
						<div class="blog-img">
							<img src="<?= base_url() ?>assets/img/blog/b-1-2.jpg" alt="Blog Image" class="w-100">
							<div class="blog-date">
								<div class="day">23</div>
								Mar 2023
							</div>
						</div>
						<div class="blog-content">
							<div class="blog-meta">
								<a href="blog.html"><i class="far fa-folder"></i>Therapy</a>
								<a href="blog.html"><i class="fal fa-user"></i>Vivi Marian</a>
							</div>
							<h3 class="blog-title h5 font-body lh-base"><a href="blog.html">From its medieval origins to the digital era everything there</a></h3>
							<a href="blog.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="vs-blog blog-card">
						<div class="blog-img">
							<img src="<?= base_url() ?>assets/img/blog/b-1-3.jpg" alt="Blog Image" class="w-100">
							<div class="blog-date">
								<div class="day">28</div>
								Dec 2023
							</div>
						</div>
						<div class="blog-content">
							<div class="blog-meta">
								<a href="blog.html"><i class="far fa-folder"></i>Acupressure </a>
								<a href="blog.html"><i class="fal fa-user"></i>Moris John</a>
							</div>
							<h3 class="blog-title h5 font-body lh-base"><a href="blog.html">Latin derived from Cicero's 1st-century BC text De Fini now with</a></h3>
							<a href="blog.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="vs-blog blog-card">
						<div class="blog-img">
							<img src="<?= base_url() ?>assets/img/blog/b-1-4.jpg" alt="Blog Image" class="w-100">
							<div class="blog-date">
								<div class="day">22</div>
								Jan 2023
							</div>
						</div>
						<div class="blog-content">
							<div class="blog-meta">
								<a href="blog.html"><i class="far fa-folder"></i>Mental Health</a>
								<a href="blog.html"><i class="fal fa-user"></i>David Smith</a>
							</div>
							<h3 class="blog-title h5 font-body lh-base"><a href="blog.html">Creation timelines the standard lorem ipsum passage vary</a></h3>
							<a href="blog.html" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--==============================
			Footer Area
	==============================-->
	<footer class="footer-wrapper footer-layout1" data-bg-src="<?= base_url() ?>assets/img/bg/bg-shape-4.png">
		<div class="container">
			<div class="footer-top">
				<div class="row align-items-center justify-content-between">
					<div class="col-sm-6 col-md-auto text-center text-sm-start">
						<div class="footer1-logo bg-white">
							<a href="index.html"><img src="<?= base_url() ?>assets/img/logo.svg" alt="Logo"></a>
						</div>
					</div>
					<div class=" col-sm-6 col-md-auto pt-20 pt-sm-0 pb-20 pb-sm-0 text-center text-sm-end">
						<div class="footer-social">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="far fa-basketball-ball"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="widget-area">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-md-6 col-lg-3 col-xl-3">
						<div class="widget footer-widget  ">
							<h3 class="widget_title">About Us</h3>
							<div class="vs-widget-about">
								<p>Energistically reintermediate worldwide interfaces vis-a-vis emerging integrate leadership skills.</p>
								<h4><a class="text-theme hover-white" href="tel:693232512456"><i class="fas fa-phone-volume me-2 pe-1"></i> 693 2325 12456</a></h4>
								<div class="d-flex mt-3 pt-1">
									<div class="avater-small mr-20">
										<img src="<?= base_url() ?>assets/img/author/author-2-3.jpg" alt="Avater Image">
									</div>
									<div class="media-body align-self-center">
										<h5 class="mb-0 font-body lh-1 text-white">Dr. David Smith</h5>
										<span class="text-theme fs-xs lh-1">Senior Consultant</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-auto col-xl-auto">
						<div class="widget footer-widget widget_nav_menu   ">
							<h3 class="widget_title">Services</h3>
							<div class="menu-all-pages-container">
								<ul class="menu">
									<li><a href="#">Body Surgery</a></li>
									<li><a href="#">Major Operation</a></li>
									<li><a href="#">Child Care</a></li>
									<li><a href="#">Heart Surgery</a></li>
									<li><a href="#">Mental Health</a></li>
									<li><a href="#">Urgent Care</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 col-xl-auto">
						<div class="widget footer-widget  ">
							<h4 class="widget_title">Gallery Posts</h4>
							<div class="footer-gallery">
								<div class="gal-item">
									<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-1.jpg" alt="Gallery Image" class="w-100"></a>
								</div>
								<div class="gal-item">
									<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-2.jpg" alt="Gallery Image" class="w-100"></a>
								</div>
								<div class="gal-item">
									<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-3.jpg" alt="Gallery Image" class="w-100"></a>
								</div>
								<div class="gal-item">
									<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-4.jpg" alt="Gallery Image" class="w-100"></a>
								</div>
								<div class="gal-item">
									<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-5.jpg" alt="Gallery Image" class="w-100"></a>
								</div>
								<div class="gal-item">
									<a href="#"><img src="<?= base_url() ?>assets/img/widget/gal-1-6.jpg" alt="Gallery Image" class="w-100"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 col-xl-3">
						<div class="widget footer-widget   ">
							<h3 class="widget_title">Visiting Hours</h3>
							<div class="footer-table">
								<table>
									<tr>
										<td>Mon - Fri:</td>
										<td>8:00 am - 8:00 pm</td>
									</tr>
									<tr>
										<td>Saturday:</td>
										<td>9:00 am - 6:00 pm</td>
									</tr>
									<tr>
										<td>Sunday:</td>
										<td>9:00 am - 6:00 pm</td>
									</tr>
								</table>
							</div>
							<div class="address-line">
								<i class="far fa-map-marker-alt text-theme fs-md"></i>
								<a href="#" class="text-reset fs-md">374 William S Canning Blvd, Fall River MA 2721</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright bg-theme">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-auto text-center text-md-end">
						<p class="mb-0 text-white">Copyright <i class="fal fa-copyright"></i> 2023 <a class="text-white" href="index.html">Medixi</a>. All rights reserved by <a class="text-white" href="https://themeforest.net/user/vecuro_themes">Vecuro</a>.</p>
					</div>
					<div class="col-auto d-none d-md-block">
						<ul class="footer-bottom-menu">
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>



	<!--********************************
			Code End  Here 
	******************************** -->

	<?php $this->load->view('components/_common_scr_top')?>
	<?php $this->load->view('components/_common_js')?>
	
</body>

</html>
